<div class="body-area">
    <div class="register-wrapper">
        <h1 class="title">Sign up to Aegis</h1>

        @if (errorMessage) {
            <div class="error-message">
                {{ errorMessage }}
            </div>
        }

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-area">
                <label for="username">Username</label>
                <input type="text" formControlName="username">
            </div>
            <div class="input-area">
                <label for="email">Email</label>
                <input type="text" formControlName="email">
            </div>
            <div class="input-area">
                <label for="password">Password</label>
                <input type="password" formControlName="password" placeholder="6+ characters">
            </div>
            <button type="submit">Create Account</button>
        </form>
        <div class="no-account">
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
    </div>
</div>