<app-navbar></app-navbar>
<div class="db-area">
    <div class="db-wrapper">
        <div class="db-presentation">
            <h1 class="title">Discover a new way to recycle & earn rewards</h1>
        </div>
        <div class="db-list">
            <div class="db-list-bin" *ngFor="let bin of bins">
                <app-bin 
                    [id]="bin.id" 
                    [full]="bin.full" 
                    [location]="bin.location" 
                    [recycled]="bin.recycled">
                </app-bin>
            </div>
        </div>
    </div>
</div>