@import "../../../styles.scss";

// Mobile-first Approach
.db-wrapper {
    margin: 50px 25px;

    .db-list {
        display: grid;
        gap: 36px;
        justify-items: center;
    }
}

// Desktop adaptation
@media only screen and (min-width: 768px) {
    .db-wrapper {
        margin: 20px;

        .db-presentation {
            padding: 0px 25vw;
            font-size: xx-large !important;
        }

        .db-list {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            margin: 0px 60px;
        }
    }
}
