@import '../../../styles.scss';

// Mobile-first Approach
.login-wrapper {
    transform: translateY(-10%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .title {
        font-weight: 600;
        margin-bottom: 15%;
    }

    .error-message {
        color: crimson;
    }

    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        font-size: 14px;

        .input-area {
            width: 85%;
            display: flex;
            flex-direction: column;
            letter-spacing: 0.5px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            label {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 600;
            }

            input {
                width: 100%;
                padding: 18px;
                align-self: center;
                border-radius: 12px;
                border-color: lightgrey;
                outline-color: $black;
            }
        }

        button {
            width: 100%;
            height: 48px;
            background-color: $black;
            border-radius: 36px;
            color: whitesmoke;
            font-size: large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 2px;
        }
    }

    .no-account {
        color: rgb(92, 92, 92);
        font-weight: 400;
        letter-spacing: 1px;

        a {
            text-decoration: underline;
        }
    }
}

// Desktop adaptation
@media only screen and (min-width: 768px) {
    .login-wrapper {
        .title {
            margin-bottom: 48px;
        }

        form {
            width: 400px;
        }
    }
}