<div class="body-area">
    <div class="login-wrapper">
        <h1 class="title">Sign in to Aegis</h1>

        @if (errorMessage) {
            <div class="error-message">
                {{ errorMessage }}
            </div>
        }

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-area">
                <label for="email">Email</label>
                <input type="text" formControlName="email">
            </div>
            <div class="input-area">
                <label for="password">Password</label>
                <input type="password" formControlName="password">
            </div>
            <button type="submit">Sign in</button>
        </form>
        <div class="no-account">
            <p>Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>
</div>