/* You can add global styles to this file, and also import other style files */
$black: #0d0c22;
$less-black: #3d3d4e;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
$button-font: Verdana, Geneva, Tahoma, sans-serif;

.title {
    font-weight: 400;
    font-family: "Source Serif 4", serif;
    text-align: center;

    @media only screen and (min-width: 768px) {
        font-weight: 500 !important;
    }
}

pre {
    font-family: "Source Serif 4", serif;
    line-height: 0.75;
}